body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
}

body {
  background-color: #141518;
}
.nav {
  color: #ffffff;
}
.container {
  color: #ffffff;
  margin-left: 25vw;
  background-color: white;
  height: 65vh;
  padding-top: 10vh;
  width: 50vw;
  border-radius: 20px;
}
.container .question {
  font-size: 20px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 6vw;
  width: 40vw;
  justify-content: center;
  background-color: #008583;
  border-radius: 50px;
}

.container .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8vw;
  /* grid-template-rows: 1fr 1fr; */
}
.container .options button {
  color: black;
  width: 15vw;
  margin-top: 5vh;
  font-size: 20px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #5e7881;
  transition: all 0.2s ease-in-out;
}
.container .options button:hover {
  transform: scale(1.05);
  background-color: #9ec4d1;
}
.container .options button:disabled {
  background-color: #9ec4d1;
}
.container .options .green {
  background-color: green;
}
.container .options .red {
  background-color: red;
}

/*.container .options .a,
.container .options .c {
  margin-right: 2vw;
   #F1860A 
} */
.container .navigate {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .navigate .next {
  background-color: #f1860a;
  margin-top: 9vh;
  width: 15vw;
  font-size: 20px;
  /* margin-right: 23vw; */
  /* margin-left: 10vw; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 50px;
}
.container .navigate .score {
  color: #141518;
  display: flex;
  margin-top: 9vh;
  margin-left: 0;
  margin-right: 5vw;
  /* margin-right: auto; */
}
.container .navigate .score .displayScore {
  background-color: green;
  color: #ffffff;
  padding: 1vh;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
